div.skills table {
    width: 60em;
}

div.skills table td {
    padding-bottom: 1em;
}


div.skills table td:first-child,
div.skills table th:first-child {
    width: 20%;
}

.page-header {
    margin-top:4.2em;
}

footer {
    background-color: whiteSmoke;
    height: 60px;
}

.container .credit {
    margin: 20px 0;
}
