body {
    color: #444;
    height: 100%;
}

html {
    height: 100%;
}

.page-header {
    margin-top: 4.2em;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.page-header h1 {
    margin-bottom: 0;
}

.page-header h2 {
    margin: 0;
}

h2 small {
    font-size: 0.7em;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.all-height {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

li a.contact-me {
    font-weight: 600;
    letter-spacing: 0.1em;
    color: whiteSmoke !important;
}

.hidden-desktop a.phone-number {
    position: absolute;
    top: 0;
    padding: 15px;
}

.hidden-desktop a.phone-number,
li a.phone-number {
    font-weight: 400;
    letter-spacing: 0.15em;
    font-size: 1.2em;
    color: whiteSmoke !important;
}

h3 {
    margin: 0.7em 0 0.05em;
}

.container .credit {
    margin: 20px 0;
}

div.work-summary {
    margin-top: 1em;
    margin-bottom: 2em;
}

.projects {
    margin-top: 0.7em;
}

.project {
    height: 130px;
    width: 210px;
    position: relative;
}

.project:hover {
    -webkit-transition: border 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.project img {
    position: absolute;
    width: 210px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.project img.top:hover {
    opacity: 0;
}

a.more {
    font-size: 75%;
}

span.more-content {
    display: none;
}

.summary ul {
    margin-left: 0;
}

.skills dd {
    padding-bottom: 0.5em;
}

footer {
    text-align: center;
    margin: 1.5em 0 1.5em 0;
    color: #aaa;
    font-size: 0.9em;
}

