body {
    color: #444;
}

h3 {
    margin: 0.7em 0 0.05em;
}

div.skills table {
    width: 60em;
}

div.skills table td {
    padding-bottom: 1em;
}


div.skills table td:first-child,
div.skills table th:first-child {
    width: 20%;
}

.page-header {
    margin-top: 4.2em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin: 1.5em 0 1.5em 0;
    color: #aaa;
    font-size: 0.9em;
}

.container .credit {
    margin: 20px 0;
}

.projects {
    margin-top: 0.7em;
}

.project {
    height: 130px;
    width: 210px;
    position: relative;
}

.project:hover {
    -webkit-transition: border 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

/*
.anz:hover {
    border: 1px solid lightblue;
}

.nab:hover {
    border: 1px solid #de453a;
}

.anz-ipad:hover {
    border: 1px solid lightblue;
}

.scheduleflow:hover {
    border: 1px solid lightcoral;
}*/

.project img {
    position: absolute;
    width: 210px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.project img.top:hover {
    opacity: 0;
}

.summary ul {
    margin-left: 0;
}

.skills .row {
    padding-bottom: 0.5em;
}
