{% comment %}
{::options parse_block_html="true" /}
<div id="ctaCopyAlt" style="display:none;">
Want more time-saving advice? You probably heard that __.NET Core__ is the new cool kid on the
block, but there's way too many articles and videos telling you what it is and why you should use
it.

I hate complexity and noise, so I wrote a quick, no-nonsense guide to help you decide __if .NET Core is
right for your task__, or whether you should stick with .NET Framework for now.

Subscribe below and get your FREE Guide!

<img style="margin:auto" class="img-responsive" src="/img/guide/guide.png" alt="Get your free guide!" />

</div>
&nbsp;
{% endcomment %}
