## Get complete, tested, and working source code for this article

Download fully tested and 100% working Visual Studio solution with the
source code used in this article for FREE -- just enter your name and email in
the form below, and I'll send you the download link right away.

You will also get access to all the source code for all existing and new
articles on the site, as well as access to my mailing list, which receives
handy time-saving tips on .NET Core programming.

<script>
(function($) {
  $(document).ready(function() {
      $('#titleSubscribe').text('Leave your email to get complete, 100% tested, and working source code');
      $('#mc-embedded-subscribe').prop('value', 'Yes, send me the source code!');
  });
})(jQuery);
</script>
{::options parse_block_html="false" /}

{% include subscription.html %}
