    <script>
        if(top != self) {
            top.location.replace(document.location);
        }
    </script>

    {% comment %}
    <!--link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="http://www.google-analytics.com"-->
    {% endcomment %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Art Skvira">
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160 }}{% endif %}" />

    {% comment %}
    <!--meta name="google-site-verification" content="949oEyw6Efl_A9xDMrjfUPxYsl2QTE0A5jFJZx0dEN8" /-->
    {% endcomment %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/bootstrap-custom.min.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="/assets/css/bootstrap-custom.min.css"></noscript>

    <link rel="stylesheet" href="/assets/css/pygments-manni.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="/assets/css/pygments-manni.css"></noscript>

    <style type="text/css">
      {% include critical.css %}
    </style>

    <script src="/assets/js/jquery-3.5.1.slim.min.js" defer></script>
    {% comment %}
    <!-- See which components need the below JS: https://getbootstrap.com/docs/4.5/getting-started/introduction/#components -->
    <!-- script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" defer></script -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% endcomment %}

    {% comment %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J75HXXMBCE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J75HXXMBCE');
    </script>
    {% endcomment %}
