<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Art Skvira">
<meta name="google-site-verification" content="949oEyw6Efl_A9xDMrjfUPxYsl2QTE0A5jFJZx0dEN8" />

<title>{{ page.title }}</title>

<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

<!-- Bootstrap core CSS -->
<link href="/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="/assets/css/extra.css" rel="stylesheet">
<!-- moved to extras link href="/assets/css/pygments-manni.css" rel="stylesheet" -->

<!-- DO NOT MOVE THESE SCRIPTS TO THE BOTTOM, LOGIC IN POSTS NEEDS IT!!! -->
<script src="/js/jquery-2.1.3.min.js"></script>
