<script>
  (function() {

    function isEmailOk(emailInput) {
      return !(emailInput == '' || emailInput.endsWith('qq.com'));
    };

    window.addEventListener('DOMContentLoaded', function() {
      (function($) {
        $('.btn-subscribe').on('click', function(e) {
          return isEmailOk($('#mce-EMAIL').val());
        });
      })(jQuery);
    });

    ///
    /// Subscribe data enrichment
    ///
    window.addEventListener('DOMContentLoaded', function() {
      (function($) {

        $('#mc-embedded-subscribe').click(function(e) {
            var emailInput = $('#mce-EMAIL');
            var email = emailInput.val();
            if (!isEmailOk(email)) {
              return;
            }

            var name = $('#mce-FNAME').val();
            var logString = name + ':' + email;
            var emailRgx = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/i;
            if (emailRgx.test(email)) {
            //                    | Category        | Action    | Label
              ga('send', 'event', 'subscribe_clean', logString,  window.location.pathname);
              gtag('event', 'subscribe_clean', {
                name: name,
                email: email,
                label: window.location.pathname
              });
            } else {
            //                    | Category        | Action    | Label
              // ga('send', 'event', 'subscribe_dirty', logString,  window.location.pathname);
            }

            $('#mce-page').val(window.location.pathname);
            var campName = typeof window.campaignName !== 'string' ? '' : window.campaignName;
            $('#mce-campaign').val(campName);
        });

      })(jQuery);
    });
  })();
</script>
