<style>
  .email-popup {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1;
    width: 400px;
  }

  .email-popup h4 {
    line-height: 1.5;
  }

  .email-popup .btn {
    width: 100%;
  }
</style>

<div class="card">
  <div class="card-body">
    <div id="mc_embed_signup">

        <form action="//nimblegecko.us6.list-manage.com/subscribe/post?u=e6274e9cfdaa85439612dbeaf&amp;id=1d1f2b0946" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="card-title"><h4 id="titleSubscribe">Subscribe & never miss a new article!</h4></div>

            <div class="form-group">
                <label for="mce-EMAIL">Your email</label>
                <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="your-email@your-mail-provider.com">
                <small id="emailHelp" class="form-text text-muted">You can unsubscribe any time. I'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="mce-FNAME">Your name</label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Your first name">
            </div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

            <div style="position: absolute; left: -5000px;"><input type="text" name="b_e6274e9cfdaa85439612dbeaf_1d1f2b0946" tabindex="-1" value=""></div>

            <input type="hidden" value="" name="PAGE" class="form-control" id="mce-page" />
            <input type="hidden" value="" name="CAMPAIGN" class="form-control" id="mce-campaign" />
            <div class="form-group">
                <input type="submit" value="Yes, send me helpful tips!" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-danger btn-subscribe">
            </div>

            {% include subscribe_data_enrichment.html %}
        </form>
    </div>
  </div>
</div>
