body {
    font-size: 18px;
    line-height: 30px;
}

p {
    margin: 0 0 30px 0;
}

img.right {
    margin: 0.5em 0 0.3em 1em;
    float: right;
}

img.left {
    margin: 0.4em 0.9em 0.3em 0;
    float: left;
}

p.center {
  text-align: center;
}

blockquote p {
    font-size: 14px;
}

.highlight {
  margin-bottom: 30px;
}
