body {
  color: #333333;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}

pre {
  line-height: 1.428571429;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
}

a {
  text-decoration: underline;
}

.nav-big{
  text-align:center;
  font-size:1.2em
}

.nav-top {
  margin-top: 1em;
}

.nav-bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: 1.1;
  color: #455860;
}

h1 {
  font-size: 1.67em;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h2.list {
  margin-top: 40px;
  margin-bottom: 5px;
}

small {
  font-size: 85%;
}

.text-muted {
  color: #949fa2;
}

.lead {
  margin-bottom: 0px;
}

p {
  margin: 0 0 30px 0;
}

p:last-child {
  margin: 0;
}

p.center {
  text-align: center;
}

blockquote p {
  font-size: 1rem;
}

.highlight {
  margin-bottom: 30px;
}

.page-header {
  padding-top: 0.7em;
}

.page-header h1  {
  padding-bottom: 20px;
}

.excerpt {
  position: relative;
}

.excerpt:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255, 0.7) 0em, rgba(255, 255, 255, 0) 5em);
  pointer-events: none;
}

.mav-big {
  text-align: center;
  font-size: 1.2em;
}

.btn-subscribe {
  font-weight: 700;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
