---
layout: post
title: Recruiter interviews - are they a waste of time?
categories:
- Employment
tags:
- job search
- recruiters
status: publish
type: post
published: true
---
<p>Job search often takes a lot of time and can be quite unpredictable - you
never know how long will it take this time to find a job. That is especially
the case when you have to deal with an extra layer of "insulation" -
headhunters/recruiters.</p>

<p><img class="right" src="/assets/img/IMG_20441.png" alt="Underground entrance
via a vent shaft with an aid of rope ladder" /> It's hard to tell if it's worth
talking to those guys at all. You can rarely be sure that a job ad is a genuine
one if it comes from a recruiter, and it's not a resume trawling trap. You
cannot tell for sure if they want to catch up with you to try to solicit some
details about your previous workplaces and key figures in there, so they can
cold call/spam those people. And more importantly, you cannot ever tell whether
they are going to put your application in front of an actual employer,
regardless of what they may tell you.</p>

<p>There is, however, a way to check if a recruiter is going to send your CV for
a role. More often than not recruiters would want to meet you in person first,
apparently to make sure that you are not some sort of a psycho, regardless of
how confident and sane you sound on the phone. Also, they are increasingly more
likely to insist on an interview if you've been out of a job for some time.</p>

<p>First of all, you want to make sure there's actually a real job there, and
their client is looking to hire soon. Otherwise, why would you want to waste
your time interviewing for a job that doesn't even exist?</p>

<p>The conversation can go along the lines of:</p>
<blockquote>
    <p>(recruiter) — Hey, Steve. I had a look at your CV and it does look like you're a good match for the role I have with one of my high-profile clients. I'd like to catch up with you to learn more about yourself and tell you about the role.</p>
    <p>(you) — Thanks, John. I am just wondering when does your client is thinking of starting the interviewing process?</p>
    <p>(him) — The role's not officially approved yet, they need to get the budget for it - you know, it can take some time in big companies. I'd like to catch up with you prior to that, so we have a head start so to speak!</p>
    <p>// See what he's doing here? There's no role yet, or maybe no role at all - yet he's so keen on seeing you. Isn't that wonderful?</p>
    <p>(you again) — John, I really appreciate your interest, although I'd prefer to catch up when your client actually gets the approval for this role. You know how it happens in big companies - today they hire, tomorrow there's a complete freeze on everything.</p>
</blockquote>

<p>The recruiter is likely to push back, asking you to meet him nevertheless. It's a good idea to hear them out for any legitimate reasons.</p>
<p>Secondly, if you're not sure that recruiter is going to put you forward, you can try to postpone the interview date with him and see what their reaction is going to be like. If there's a genuine job opening and the recruiter thinks you're a good fit, he's likely to insist on meeting as soon as possible.</p>
<p>It could go like this:</p>

<blockquote>
    <p>(recruiter) — Steve, what's your availability on this week? Would you be able to catch up with me quickly tomorrow?</p>
<p>(you) — Just one sec, let me have a look at my calendar… [...clicking sounds…] Actually, I'm pretty busy this week, can we do this next week, say closer to Friday?</p>
<p>(him) — It's just that my client wants to start interviewing soon, and for me to put you forward I really need to meet you first - that's just a policy of our company. Do you think you could maybe find 30 minutes for me tomorrow?</p>
</blockquote>

<p>
None of these approaches are bulletproof, but they give you a good starting point. So use your own
judgement and be aware of the common pitfalls when looking for work.</p>
<p>
Check out my other articles on shady recruitment practises and how to win at job searching game.
Also, drop your email address in the form below so you can get notifications when I publish new
articles. You can unsubscribe at any time, no hard feelings.

{% include recruitment.md %}
{% include subscription.html %}
