---
layout: post
title: Never Trust What Recruiters Say
categories:
- Employment
tags:
- hacks
- job search
- recruiters
status: publish
type: post
published: true
---
<p><img class="m-2 float-right" src="/assets/img/Screen-Shot-2013-02-02-at-9.13.47-PM.png" width="400" height="137" /></p>
<p>People generally don't enjoy job hunting. And I can't blame them. I'd rather clean up my garage, pair all my socks up, trim the hedge, take the rubbish out, vacuum the roof and be nice to neighbours instead of applying for a single job. All because of hating to deal with people who cannot tell their left foot from HTML, and yet they somehow manage to sound so confident and knowledgeable when asking you all those technology-related questions.</p>

<p>So we hate having to look for a job because of all the things it entails - dusting you CV, dealing with rejections, all the self-doubts along the lines of "Boy, he paused a bit and then changed his tone when I told him how much I want. Maybe I should go for like 10K less? Shit, we won't be able to afford that vacation next year..."</p>
<p>
<!--more Keep on reading &rarr; --></p>
<p>
Worse yet, there are things that can happen behind your back without you knowing it. Today I'd like to look into one of those dirty tricks that recruiters can play on you. It doesn't happen too often, but it does happen when they are desperately looking for job openings, or sales, as they call it.</p>
<h2>What you think is happening</h2></p>
Let's say you've applied for a job via an agent, and had a phone conversation with him at some point. He did sound impressed and optimistic, saying that he'd like to send your CV to his client. Maybe he even said that his client is very busy interviewing lots of people, but he'll try to get you in for an interview in the next couple of days.</p>
<p>
That's not too shabby, you may think. I must be a good fit for that role. So you cheer up a bit and even crack a joke or two at your work (even though your work sucks, but you know you'll be out soon for good). That's why when the recruiter calls you within next couple of hours with a seemingly legit request for some references, you send those to him without too much of a thought.</p>
<p>
Most of the time they just disappear for a few days, only to let you know later that his client "has just put a hiring freeze in place until they get some extra budget approved".</p>
<h2>What is really happening</h2></p>
He just needs sales leads. He's not going to check those references. Well, not in a traditional sense of it. You don't generally check the expiry date on a milk bottle by drinking half of it and then topping it up some tap water. You just look at the bloody label. So he surely going to call them. He may even mention your name, saying something along the lines of</p>
<blockquote>Hi John, I was just talking to a Ben, he used to be a developer at your department. He said you guys may have some need for quality developers, so that's why I am calling.</blockquote></p>
Rest assured, every reference you provided will be used to contact the person in question and those low sales-y questions are going to be asked.</p>
<p>
Now you probably can already see where it's going. If you are asking yourself whether that job ad was a fake, then you are on the right track. It may have been, although not necessarily. We will look into identifying fake job ads a bit later. For now, let's focus on the situation at hand.</p>
<h2>What to do?</h2></p>
You should simply decline that request. It's going to be hard, mainly because we don't like to upset people and recruiters make sure they talk to you like you're an old friend of theirs. Nobody wants to upset friends!</p>
<p>
You may also think that declining this request will eliminate all chances of getting this job. Quite the contrary. It's the employer who decides whether he'd like to hire you, not the recruiter. Reference check happens at the very end of the hiring process, so you could say something along the lines of:</p>
<blockquote>(agent): — Hi Jim, it's Bill here from "IT Talent Recruitment", just wanted to say that Telstra guys are really impressed with your track record, so will be arranging an interview early next week. Just a quick question, though - do you mind sending me some details of your referees?</blockquote></p>
<blockquote>(you): — Hi Bill, that's really good to hear. Just regarding the reference check - I recon we should do that straight after the interview. You see I don't want to distract my contacts needlessly - I'll surely send you some when we get some feedback from your client after the interview.</blockquote></p>
If they keep on insisting, just keep pushing back - respectfully, but firmly. Protip: you can decline requests to do interviews with recruiters same way - those are <a href="{% post_url 2013-06-02-recruiter-interviews-are-they-a-waste-of-time %}">mostly just a waste of time</a>.</p>
<p>
Hope this helps to save you some time and deal with the recruitment industry a bit more efficiently.</p>
<p>
<strong>PS:</strong> This post is a part of the series that I wrote to uncover the dirty
tricks of the recruitment industry. If you are interested, check out my other articles and see how
you can win at job searching game.

Also, drop your email address in the form below so you can get notifications when I publish new
articles. You can unsubscribe at any time, no hard feelings.

{% include recruitment.md %}
{% include subscription.html %}
