---
layout: post
title: You should be doing more job interviews
categories:
- Employment
- Productivity
tags:
- job search
- productivity
status: publish
type: post
published: true
---
<p>Even if you change jobs often, having an interview can be a stressful experience. No single interview is the same, and there's always plenty of things to throw you off the track even if you're a seasoned job hopper or a contractor.</p>

<p>Good old fight-or-fligh response reliably kicks in whenever we're faced with a challenge, especially the one involving strangers. It pumps the adrenaline into your system, increases the heart rate and doing other stupid things (such as sweaty or cold palms), and those are completely unnecessary and counterproductive in this context, but you just cannot help it.</p>

<p>I am sure some of us have reached that level of Zen where even the <a title="Excerpt from the book &quot;Zen-Brain Reflections&quot;" href="http://books.google.com.au/books?id=uZ4fyfH_t9EC&amp;pg=PA242&amp;lpg=PA242&amp;dq=zen+startle+response&amp;source=bl&amp;ots=FydpCSwQfP&amp;sig=l_yxR9C_zs9-HBqCN0-QiDNRmO0&amp;hl=en&amp;sa=X&amp;ei=BMrEUYaTAcGgkQXR5oDgCw&amp;ved=0CDgQ6AEwAQ#v=onepage&amp;q=zen%20startle%20response&amp;f=false" target="_blank">startle response</a> is <a title="Startle response study of experienced meditators" href="http://www.ncbi.nlm.nih.gov/pubmed/22506498" target="_blank">greatly reduced</a>. But for the rest of us, the standard folks, one of the ways to cope with the interview anxiety is just doing it more.</p>

<p><img class="m-2 float-left" title="Otway Fly Treetop Walk" src="/assets/img/DSC_0081.jpg" width="200" height="133" />So next time you have a chance to talk to the people you don't know, especially if they are going to be evaluating your skills, experience and asking all sorts of tricky questions - go for it like there's no tomorrow. By going to more job interviews you'll make yourself more relaxed and focused. Do it even if you're not interested in the company or if the pay is low - do it just for the practice.</p>

<p>The sooner you start, the better -- specifically if you had no interviews for some time and feel a bit rusty. Your goal is to be prepared to handle the interview for a position you actually like and want to get.</p>

<p>A funny byproduct of this interviewing madness is that it helps to understand your own motivations better. Answering all these questions that I never bothered asking myself - such as "what is that you like most about X" or "where do you see yourself going in X years" helps to get some perspective on things. On several occasions it helped me to realise that some of the initial assumptions I held about a technology, problem domain or an industry were incorrect.</p>

<p>One of the funniest interviews I ever had was for a company in the same building where I worked, on the same floor, literally next door. After a short email exchange I showed up in my jeans and a tee (cause that's what I used to wear to work) and after a short 20 min talk with a tech dude and a manager I was offered a job. It was funny meeting the old colleagues after I left in the elevator or just around - they looked almost like if they've seen a ghost.</p>

<p>Have you got an interview lead? Chase it up, arrange a meeting and go practice your skills. You
never know what a new day brings, so stay open.</p>

<p>
<strong>PS:</strong> This post is a part of the series that I wrote to uncover the dirty
tricks of the recruitment industry. If you are interested, check out my other articles and see how
you can win at job searching game.
</p>

<p>
Also, drop your email address in the form below so you can get notifications when I publish new
articles. You can unsubscribe at any time, no hard feelings.
</p>

{% include recruitment.md %}
{% include subscription.html %}
