<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title}} {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/lightbox/lightbox.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>
        <script src="/js/jquery-1.8.3.min.js"></script>
        <!--script src="/js/lightbox.js"></script-->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.analyticseventtracking.js"></script>

        <!--div class="all-height">111</div-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                <span class="hidden-desktop">
                    <a class="phone-number" href="call:0416394620">0416 394 620</a>
                </span>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    <li><a href="http://blog.nimblegecko.com" data-ga-category="Links" data-ga-action="Leave" data-ga-label="Blog">Blog</a></li>
                    <li><a class="contact-me" href="#contact" data-ga-category="Links" data-ga-action="Contact Me" data-ga-label="Header">Contact me</a></li>
                    <li><a class="visible-desktop phone-number" href="call:0416394620">0416 394 620</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>

        <div class="container">
            {{ content }}
        </div> <!-- /container -->
        <script>

            // GA event tracking
            (function($) {
                $('a[data-ga-category]').analyticsEventTracking()
            })(jQuery);

            // More.. links
            (function($) {
                $('a.more').each(function(i, link) {
                    $(link).click(function(e) {
                        var l = $(link)
                        l.hide()
                        l.next('.more-content').show('slow')
                        e.preventDefault()
                    })
                })
            })(jQuery);

        </script>

        <footer>
            <small>Copyright 2012 by Art Skvira</small>
        </footer>

    {% include JB/analytics %}
  </body>
</html>
